$headerBgImg: url(../img/header_background_v2.jpg);
$headerText: #ff5722;
$headingColor: #757575;
$fonts: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$pageBg: #eef3fa;
$contentBg: #efefef;
$postBg: #ffffff;
$postDescription: #bdbdbd;
$postTitle: #607d8b;
$buttonBg: #0401ac;
$buttonLabel: #ffffff;
$borderColor: #cfd8dc;
$paragrafColor: #757575;

