$pageBg: #eef3fa;
$contentBg: #ffffff;
$headerText: #ececec;
$postBg: #efefef;
$postDescription: #e90303;
$postTitle: #0097a7;
$buttonBg: #01acac;
$buttonLabel: #fffaea;
$headingColor: #010f16;
$borderColor: #607d8b;
$paragrafColor: #b2b5b7;
$headerBg: url(../img/header_background_v1.jpg);
$fonts: Roboto, Ubuntu, Cantarell, Helvetica,sans-serif;
